body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 10%;
    position: relative;
    top: 20px;
    left: 80px;
}

.button{
    text-decoration: none;
    color: white;
    position: relative;
    right: 60px;
    top: 60px;
    font-size: 1.2em;
    width: 20%;
}

.button:hover{
    color: rgb(231, 231, 104);
    font-weight: bold;
    font-size: 1.4em
}

.container {
    text-align: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

section{
    position: relative;
    left: 50px;
}
h1{
    font-size: 50px;
    width: 100%;
    position: relative;
    text-align: center;
}

h2{
    background: lightgray;
    width: 20%;
    color: black;
    left: 20px;
    padding: 10px;
}

h3{
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
}

nav{
    background-color: orange;
    position: relative;
    padding: 10px;
    margin: 20px;
    width: 100%;
    white-space: nowrap;
}

ul{
    padding: 0;
    margin: 0;
    max-width: 1200px;
    position: relative;
}

ul li:hover{
    background-color: white;
}

nav li{
    width: 40%;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    transform: scale(0.5, 1);
    width: 30%;
    font-weight: 900;
    line-height: 1.5em;
}

.me{
    width: 25%;
    border-radius: 10em;
    position: relative;
    top:30px;
}

#about {
    max-width: 1200px;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: justify;
    line-height: 2em;
    left: 50px;
}

p{
    font-size: 1.2em;
    line-height: 2em;
}

#portfolio {
    max-width: 1200px;
    width: 80%;
    padding: 0;
    position: relative;
    text-align: justify;
    line-height: 2em;
}

#contact {
    position: relative;
    left: 60px;
}

.name, .email{
    padding: 5px;
}

.message{
    padding: 15px;
}
footer {
    position: relative;
    margin: 20px auto;
    left: 50px;
    text-align: center;
}


/* media queries */
@media(max-width: 800px) {
    header img{
        top: 20px;
        left: 20px;
    }

    h2 {
        width: 50%;
    }

    nav{
        width: 90%;
        white-space: normal;
    }


    .button{
        top: 50px;
        right: 50px;
    }
    #about{
        width: 80%;
    }
}