body{
    margin: 0;
    padding: 0;
    font-family: "HKGrotesk", "Helvetica Neue-Light", "Helvetica", "sans serif"; 
    color: black;
    background-image: url(/bcd\ image.jpg);
}

header{
    background: black;
    color: white;
}

/* this element is to have the first full page with a black background  */
.top{
    background:black;
}

/* Having issues with positioning the logo. It messes up all the other elements! To be continued...
.logo {
    position: relative;
    justify-content: space-between;
    display: flex;
    float: left;
    width: 8%;
    z-index: 2;
} */


/* "Get in touch" button: */
.button{
    text-decoration: none; /* removes the underline */
    color: white;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 80px; /* this is to cover the first page with a black background */
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.button:hover{
    color: rgb(231, 231, 104);
    font-weight: bold;
    font-size: 1.6em
}

/* profile photo - to be changed in the foresseable future: */
.me{
    position: relative;
    display: block; 
    margin: 0 auto;
    width: 25%;
    border-radius: 5%;
    border: 2px solid rgb(65, 231, 243);
}

h1{
    font-size: 40px;
    width: 50%;
    position: relative;
    display: block;
    text-align: center;
    line-height: 0.9em;
    letter-spacing: 4px;
    margin: 20px auto 10px auto;
}


h3{
    font-size: 30px;
    text-align: center;
    position: block;
    letter-spacing: 4px;
    margin: 50px auto 50px auto;
}

nav{
    background-color: orange;
    padding: 15px 0 15px 0;
    height: 55px;
    margin: 20px auto;
}

ul{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

ul li:hover{
    background-color: white;
}

nav li{
    width: 30%;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 24px;
}

li{
    width: 100%;
    text-align: center;
}

nav li a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    transform: scale(0.5, 1);
    width: 100%;
    font-weight: 900;
    line-height: 1.5em;
}

/* article{
    position: relative;
} */


/* main section titles */
h2{
    padding: 20px;
    font-size: 30px;
    margin: 0 auto;
    background: lightgray;
    text-align: center;
}

h4 {
    font-size: 25px;
    text-decoration: underline;
    padding: 0;
    margin: 30px auto 0 auto;
}

#about, #portfolio, #Contact {
    margin-top: 10px;
    position: relative;
    line-height: 2em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    color: black;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.intro p, .experience p, #portfolio p{
    background: white;
    border: 2px dashed black;
}

#Contact {
    top: 20px;
    width: 50%;
    left: 20%;
}

.name, .email{
    padding: 5px;
    width: 40%;
}

.message{
    padding: 15px;
    width: 40%;
}

section#Contact .upload input, section#Contact .upload textarea{
    width: 20%;
    padding: 5px;
    max-width: 900px;
}

.upload{
    background: lightgray;
    margin: 0 auto;
}

#scrollButton{
    background-color: red;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 10;
}

#scrollButton:active {
    background: yellow; 
}


footer{
    position: relative;
    margin: 100px auto 30px auto;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}

/* media queries */
@media(max-width: 800px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 100px;
    }
    h2 {
        width: 50%;
    }

    nav li a {
        display: block;
    }
}

@media(max-width: 553px){
    header{
        width: 100%;
    }

    .me {
        width: 50%;
    }
    
    h1 {
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.2em;
    }

    section {
        width: 90%;
        margin-left: 5%;
    }
    #Contact{
        width: 70%;
        left: 15%;
    }
}